/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */


body {
	background: #f9f8e9;
	color:#333;
}

h1, h2, h3, h4, h5, h6 {
	color: #246;
}

a,
a:link,
a:visited {}

a:hover,
a:focus,
a:active,
a.active {}


h1.title {}

body.front h1.title {}


/* Section Header
-------------------------------------------------------------- */
#section-header {}


/* User Zone */

#zone-user-wrapper {}
#zone-user {}
#region-user-first {}
.region-user-first-inner {}
#region-user-second {}
.region-user-second-inner {}


/* Branding Zone */

#zone-branding-wrapper {}
#zone-branding {}
#region-branding {}
.region-branding-inner {}

.branding-data {}
.logo-img {}

/* Header Zone */
#zone-header-wrapper {}
#zone-header {}

#region-header-first {}
.region-header-first-inner {}

#region-header-second {}
.region-header-second-inner {}

/* Banner */
#zone-banner-wrapper {}
#zone-banner {
  background: #666;
}
#zone-banner .grid-12 {
/* Overide default width  */
/* and margin for banners */
 width: 100%;
 margin: 0;
}
#region-banner {}
.region-banner-inner {}

/* Menus
-------------------------------------------------------------- */

/* Menu Zone */

#zone-menu-wrapper {}
#zone-menu {
	background: #0073ba;
	}
#zone-menu .block {
 margin: 0; 
}
#region-menu {}
.region-menu-inner {}

.navigation {
  
}
ul.links li a,
ul.links li a:visited {}
ul.links li a:hover,
ul.links li a:focus,
ul.links li a:active,
ul.links li a.active {}


/* Main Menu */
ul#main-menu  {
  margin: 0;
}
ul#main-menu  li {
  padding: 0;
  margin: 0;
  float: left;
}
ul#main-menu  li a,
ul#main-menu  li a:visited {
  padding: 10px 15px;
  display: block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
ul#main-menu  li a:hover,
ul#main-menu  li a:focus,
ul#main-menu  li a:active,
ul#main-menu  li a.active {
  background: #4f9ed0;
}
ul#main-menu ul,
ul#main-menu li.sfHover ul {}

/* Secondary Menu */
ul#secondary-menu {}
ul#secondary-menu li {}

ul#secondary-menu li a,
ul#secondary-menu li a:visited {}

ul#secondary-menu li a:hover,
ul#secondary-menu li a:focus,
ul#secondary-menu li a:active,
ul#secondary-menu li a.active {}

/* Superfish Module
   Use this if you are using the SuperFish module instead of
   the default system menu.
-------------------------------------------------------------- */

#zone-menu .block-superfish {}
#zone-menu .block-superfish h2.block-title {
  display: none;
}
ul.sf-menu li a,
ul.sf-menu li a:visited {
  font-size: 1em;
  text-decoration: none;
  padding: 5px 10px;
  }

ul.sf-menu li a:hover,
ul.sf-menu li a:focus,
ul.sf-menu li a:active,
ul.sf-menu li a.active,
ul.sf-menu li.sfHover a.menuparent {}

ul.sf-menu li ul {}
ul.sf-menu li li a,
ul.sf-menu li li a:visited {}

ul.sf-menu li li a:hover,
ul.sf-menu li li a:focus,
ul.sf-menu li li a:active,
ul.sf-menu li li a.active {}

ul.sf-menu {}
ul.sf-menu li {}
ul.sf-menu li ul {}
ul.sf-menu li ul li {}
ul.sf-menu li ul li.last {}

ul.sf-menu li.active-trail {}
ul.sf-menu li.sfHover,
ul.sf-menu li.active {}

ul.sf-menu li.active-trail {}
ul.sf-menu li.sfHover,
ul.sf-menu li.active {}



/* Section Content
-------------------------------------------------------------- */
#section-content {}


/* Preface */
#zone-preface-wrapper {}
#zone-preface {}

#region-preface-first {}
.region-preface-first-inner {}

#region-preface-second {}
.region-preface-second-inner {}

#region-preface-third {}
.region-preface-third-inner  {}



/* Content Zone */

#zone-content-wrapper {}
#zone-content {
  background: #fff;
}

#region-content {}
.region-content-inner {
  margin: 20px 10px;
}
#block-system-main {}
#block-system-main .block-inner {}

/* Blocks & Sidebars */

.block {}

.block-inner  {}

.block .content {}

h2.block-title {}

/* Both Sidebars */

#region-sidebar-first .block,
#region-sidebar-second .block {
  margin: 10px;
}
#region-sidebar-first .block-inner,
#region-sidebar-second .block-inner {}

#region-sidebar-first .block .content,
#region-sidebar-second .block .content {}

#region-sidebar-first h2.block-title,
#region-sidebar-second h2.block-title {}


/* Sidebar First */
#region-sidebar-first {
  background-color: #e9f2f9;
}
.region-sidebar-first-inner {}
#region-sidebar-first .block {}
#region-sidebar-first .block-inner {}
#region-sidebar-first .block .content {}
#region-sidebar-first h2.block-title  {}


/* Sidebar Second */
#region-sidebar-second {
  background-color: #e9f2f9;
}
.region-sidebar-second-inner {}
#region-sidebar-second .block {}
#region-sidebar-second .block-inner {}
#region-sidebar-second .block .content {}
#region-sidebar-second h2.block-title {}

/* Sidebar Overide */
/* Omega margins - */

#region-sidebar-first.grid-3,
#region-sidebar-second.grid-3 {
 margin: 0; 
 padding: 10px;
}

/* Postscript */

#zone-postscript-wrapper {}
#zone-postscript {}

#region-postscript-first {}
.region-postscript-first-inner {}

#region-postscript-second {}
.region-postscript-second-inner {}

#region-postscript-third {}
.region-postscript-third-inner {}

#region-postscript-fourth {}
.region-postscript-fourth-inner {}


/* Section Footer
-------------------------------------------------------------- */
#section-footer  {}

#zone-footer-wrapper {}
#zone-footer {}

#region-footer-first {}
.region-footer-first-inner {}

#region-footer-second {}
.region-footer-second-inner {}

#section-footer a,
#section-footer a:link,
#section-footer a:visited  {}

#section-footer a:hover,
#section-footer a:focus,
#section-footer a:active  {}



/* Footer Blocks */
#section-footer .block {}
#section-footer .block-inner {}
#section-footer .block .content {}
#section-footer h2.block-title {}



/* Forms
-------------------------------------------------------------- */

input.form-text {}
input.form-submit {}
input.form-checkbox {}
input.form-textarea {}
.grippie {}

.form-item {}
.form-type-textfield {}
.form-type-password {}



/* Search Block */

#block-search-form { }
#block-search-form form { }
#block-search-form input.form-text {}
#block-search-form input.form-submit {}
#block-search-form .form-actions {}



/* User Login */

#user-login {}

#user-login div.form-item-name {}
#user-login div.form-item-name .form-text {}
#user-login div.form-item-name div.description {}

#user-login div.form-item-pass {}
#user-login div.form-item-pass .form-text {}
#user-login div.form-item-pass div.description {}

#user-login .form-submit {}

#user-pass {}
#user-pass div.form-item-name {}
#user-pass div.form-item-name .form-text {}
#user-pass .form-submit {}


/* Drupal Messages
/-------------------------------------------------------------- */
.content-help {}
.content-help-inner {}
.help {}
.help-inner {}


/* Maintenance Page
/-------------------------------------------------------------- */


/* Misc
-------------------------------------------------------------- */
