@media only screen and (max-width:739px) {
/* MEDIUM Mobile display */
  ul#main-menu  li {
  	width: 46%;
  	margin: 0 1%;
  	text-align: center;
  	border-bottom: dashed 1px #4f9ed0;
	}


/* end MEDIUM Mobile display */
}
@media only screen and (max-width:400px) {
/* SMALL Mobile display. */  
	ul#main-menu  li {
  	width: 100%;
  	margin: 0;
	}



/* end SMALL Mobile display */
}
